<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-stone-sdk"
        version="0.2.0">

    <name>Stone SDK</name>
    <description>Cordova Stone SDK Device Plugin</description>

    <asset src="www/stone_sdk.js" target="js/stone_sdk.js"/>

    <js-module src="www/stone_sdk.js" name="stone_sdk">
        <clobbers target="stone_sdk" />
    </js-module>

    <!-- Android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StoneSDK">
                <param name="android-package" value="br.com.stone.cordova.sdk.StoneSDK"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/StoneSDK.java" target-dir="src/br/com/stone/cordova/sdk/" />
        <source-file src="src/android/libs/stone-sdk-2.5.3.aar" target-dir="libs" />

    </platform>

    <!-- iOS -->
    <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="StoneSDK">
                <param name="ios-package" value="StoneSDK" />
            </feature>
        </config-file>

        <header-file src="src/ios/StoneSDK.h" target-dir="StoneSDK" />
        <source-file src="src/ios/StoneSDK.m" target-dir="StoneSDK" />

    </platform>

</plugin>
